@font-face {
    font-family: CaviarDreams;
    src: url('/fonts/CaviarDreams_Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: CaviarDreams;
    src: url('/fonts/CaviarDreams.ttf');
}
@font-face {
    font-family: Futurist;
    src: url('/fonts/futurist_fixed_width.ttf');
}
@font-face {
    font-family: Shorelines;
    src: url('/fonts/shorelines-light.otf');
}
@font-face {
    font-family: Shorelines;
    src: url('/fonts/shorelines-bold.otf');
    font-weight: bold;
}
body, html{
	font-family: Futurist;
}
.logo.logo-wide{
	max-width: 50%;
	margin: 0 auto;
}

.offscreen-toggle i{
	font-size: 48px;
	padding-top: 20px;
	line-height: 75px;
}

.offscreen-container{
	background-color: #F4E9AB;
}

.top-bar.nav-sticky{
	background: rgba(244, 233, 171, 0.85);
}

.custom-hero-text{
	text-align: center;
}

.splice-title{
	font-family: CaviarDreams, Futura, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 60px !important;
	color: #F4E9AB;
	text-shadow: 1px 1px #eeeeee;
	margin-bottom: 20px !important;
}
.explore-title{
	font-family: Futurist, Futura, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 40px !important;
	letter-spacing: 10px;
	color: #eee;
	margin-bottom: 20px !important;
	font-weight: 300;
}

h2.splice-title{
	color: #eee;
	font-family: Futurist, Futura, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 20px !important;
}

.splice-title.coming-soon{
	color: #FBFAFC;
	text-shadow: -3px 1px #F5D9E2;
	font-weight: bold; 
	margin-bottom: 0px;
	line-height: 70px !important;
}

.offscreen-container .menu li a{
	font-family:  CaviarDreams, Futura, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.about-page p{
	font-family: Futurist, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 13px;
	text-align: justify;
	color: #000;
}

.about-page h2{
	font-family: Shorelines, Helvetica, Arial, sans-serif;
	font-size: 36px;
	padding-bottom: 18px;
	padding-top: 25px;
}
.shoreline{

	font-family: Shorelines, Helvetica, Arial, sans-serif;
}
.contact-header{
	color: #fff;
	font-size: 42px;
}
.contact-quote{
	text-align: center;
	font-family: Futurist, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 16px;
}

::selection{
	background: #F5D9E2;
	color: #fff;
}

.form-contact .inputs-wrapper{
	border-radius: 0px;
	margin-top: 40px;
}

.form-contact input, .form-contact textarea{
	border-radius: 0px;
	background: rgba(255,255,255,0.3);
	font-family: Futurist, Helvetica Neue, Helvetica, Arial, sans-serif;
	border: 1px solid #fff;
	margin-top: 5px;
	margin-bottom: 5px;

}

.form-contact textarea{
	min-height: 194px;
}
.form-contact input[type="submit"]{
	max-width: 100%;
}
.form-contact .inputs-wrapper{
	border: 0px;
}

.pre-footer{
	display: block;
	min-height: 251px;
}

.jml-custom{
	background-color: rgba(255,255,255,0) !important;
	margin-top: -251px;
	color: #333 !important;
}

.contact-action{
	background-color: rgba(255,255,255,0) !important;
}

.contact-action:hover{
	background-color: rgba(255,255,255,0.2) !important;
	cursor: pointer;
}

.footer-container{
	color: #333 !important;
}